@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ClashGrotesk-Regular';
    src: url('../../public/fonts/ClashGrotesk-Regular.woff2') format('woff2'),
         url('../../public/fonts/ClashGrotesk-Regular.woff') format('woff'),
         url('../../public/fonts/ClashGrotesk-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
}