@import url("clash-grotesk.css");

body{
    font-family: 'ClashGrotesk-Regular';
    background-color: #e7ded5;
}

.main{
    display: inline-block;
    color: #fdf8f3;
    width: 95%;
    height: 700px;
    margin: 0 2.5%;
    background-color: brown;
    background-image: url("../images/banner-new.jpg");
    background-size:cover;
    
}

.main a{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    color: #fdf8f3;
}

.main-left{
    display: inline-block;
    width: 39%;
    text-align: left;
    margin-left: 0.5%;
}


#title{
    font-size: small;
    display: inline-block;
    width: 20%;
    text-align: center;
}

.main-right{
    display: inline-block;
    width: 39%;
    text-align: right;
    margin-right: 0.5%;
}

.main-bottom{
    margin-top: 200px;
    text-align: center;
}

.main-bottom h1{
    font-size: 70px;
    
}

.main-bottom h2{
    font-size: 30px;
    margin-top: -20px;
}

.main-bottom p{
    font-size: 25px;
}

.products{
    display: inline-block;
    width: 95%;
    margin: 0 2.5%;
    background-color: white;
}

.favorite-card{
    vertical-align: top;
    display: inline-block;
    width: 24%;
    /* margin: 0 0.5%; */
    padding: 2px;
    height: 400px;
}



.favorite-card a{
    display: inline-block;
    margin-top: 235px;
}

.favorite-content{
    margin-left: 10px;
}

.product{
    display: inline-block;
    width: 24%;
    height: 400px;
    padding: 2px;
}

.product img{
    height: 80%;
    width: 100%;
    object-fit: contain;
}

.product h3{
    font-weight: lighter;
}

.product p{
    font-weight: bold;
}

.product-info{
    height: 20%;
}

.product-description{
    display: inline-block;
    width: 70%;
}

.buy-product{
    display: inline-block;
    width: 20%;
    height: 50px;
}

.buy-product a{
    width: 20%;
    object-fit: contain;
}


